<div class="container mt-4" *ngIf="trip">
  <button mat-button color="primary" (click)="back()">
    ← Back
  </button>

  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>{{ trip.title }}</mat-card-title>
      <mat-card-subtitle>{{ trip.currency }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ trip.description }}</p>
      <p class="text-muted">
        {{ trip.startDate }} - {{ trip.endDate }}
      </p>
    </mat-card-content>
  </mat-card>

  <div *ngIf="loading" class="alert alert-info">
    Loading trip...
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <hr>
  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>Members</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="memberForm"
        (ngSubmit)="addMember()"
        class="d-flex gap-2 align-items-center mb-3">

        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>User ID</mat-label>
          <input matInput type="number" formControlName="userId">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Add
        </button>

      </form>

      <small class="text-muted d-block mb-3">
        Add a member by existing user ID.
      </small>

      <div *ngIf="members.length === 0" class="text-muted">
        No members yet.
      </div>

      <div
        *ngFor="let member of members"
        class="d-flex justify-content-between align-items-center border-bottom py-2">

        <div>
          <strong>{{ member.firstName }} {{ member.lastName }}</strong>
          <div class="text-muted">{{ member.email }}</div>
        </div>

        <button mat-button color="warn" (click)="removeMember(member.userId)">
          Remove
        </button>

      </div>

    </mat-card-content>
  </mat-card>

  <hr>

  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>Expenses</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="expenseForm" (ngSubmit)="createExpense()">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Category</mat-label>
          <input matInput formControlName="category">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Expense Date</mat-label>
          <input matInput type="date" formControlName="expenseDate">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Paid By User ID</mat-label>
          <input matInput type="number" formControlName="paidByUserId">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Participant IDs</mat-label>
          <input matInput formControlName="participantIds">
        </mat-form-field>

        <small class="text-muted d-block mb-3">
          Example: 1,2,3
        </small>

        <button mat-raised-button color="primary" type="submit">
          Add Expense
        </button>

      </form>

      <div
        *ngFor="let expense of expenses"
        class="d-flex justify-content-between border-bottom py-2 mt-3">

        <div>
          <strong>{{ expense.title }}</strong>
          <div>{{ expense.description }}</div>
          <div class="text-muted">
            {{ expense.amount }}
            {{ trip.currency }}
            -
            {{ expense.category }}
          </div>
        </div>

        <button mat-button color="warn" (click)="deleteExpense(expense.id)">
          Delete
        </button>

      </div>

    </mat-card-content>
  </mat-card>

  <hr>

  <mat-card class="mt-3 mb-5">
    <mat-card-header>
      <mat-card-title>Balances</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div *ngIf="balances.length === 0" class="text-muted">
        No balances yet.
      </div>

      <div *ngFor="let balance of balances" class="border-bottom py-2">

        <strong>{{ balance.debtorName }}</strong>
        owes
        <strong>{{ balance.creditorName }}</strong>

        <span class="fw-bold">
        {{ balance.amount }} {{ trip.currency }}
      </span>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        🤖 AI Trip Summary
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button
              color="primary"
              (click)="generateAiSummary()">
        Generate AI Summary
      </button>

      <div class="mt-3" *ngIf="loadingAi">
        Generating Summary...
      </div>
      <div class="mt-3" *ngIf="aiSummary">
        {{ aiSummary }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
